<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petpicks App</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>PetPicks App😉🚀</h1>
    <form id="upload-form">
        <div class="upload-btn">
            <input type="file" name="file" id="file-input" accept="image/*" required>
            <label for="file-input">choose a file</label>
        </div>
        <button type="submit">Classify</button>

    </form>
    
    <div class="result-container" id="result-container"></div>

    <script src="static/js/script.js"></script>
 
</body>
</html>